.dark-high-contrast {
  --md-sys-color-primary: rgb(218 244 255);
  --md-sys-color-surface-tint: rgb(135 209 235);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(131 205 231);
  --md-sys-color-on-primary-container: rgb(0 13 19);
  --md-sys-color-secondary: rgb(220 244 254);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(175 198 208);
  --md-sys-color-on-secondary-container: rgb(0 13 19);
  --md-sys-color-tertiary: rgb(240 238 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(190 192 231);
  --md-sys-color-on-tertiary-container: rgb(6 8 38);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(15 20 22);
  --md-sys-color-on-background: rgb(222 227 230);
  --md-sys-color-surface: rgb(15 20 22);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(64 72 76);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(233 241 245);
  --md-sys-color-outline-variant: rgb(187 196 200);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 230);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 79 97);
  --md-sys-color-primary-fixed: rgb(181 235 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(135 209 235);
  --md-sys-color-on-primary-fixed-variant: rgb(0 20 26);
  --md-sys-color-secondary-fixed: rgb(207 230 240);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(179 202 212);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 20 26);
  --md-sys-color-tertiary-fixed: rgb(224 224 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(194 195 235);
  --md-sys-color-on-tertiary-fixed-variant: rgb(11 14 44);
  --md-sys-color-surface-dim: rgb(15 20 22);
  --md-sys-color-surface-bright: rgb(75 81 83);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(27 32 35);
  --md-sys-color-surface-container: rgb(44 49 52);
  --md-sys-color-surface-container-high: rgb(55 60 63);
  --md-sys-color-surface-container-highest: rgb(66 72 74);
}
