html.light {
  --md-sys-color-primary: rgb(4 103 126);
  --md-sys-color-surface-tint: rgb(4 103 126);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(181 235 255);
  --md-sys-color-on-primary-container: rgb(0 78 96);
  --md-sys-color-secondary: rgb(76 98 106);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(207 230 240);
  --md-sys-color-on-secondary-container: rgb(52 74 82);
  --md-sys-color-tertiary: rgb(90 92 126);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(224 224 255);
  --md-sys-color-on-tertiary-container: rgb(66 68 101);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(245 250 253);
  --md-sys-color-on-background: rgb(23 28 31);
  --md-sys-color-surface: rgb(245 250 253);
  --md-sys-color-on-surface: rgb(23 28 31);
  --md-sys-color-surface-variant: rgb(219 228 232);
  --md-sys-color-on-surface-variant: rgb(64 72 76);
  --md-sys-color-outline: rgb(112 120 124);
  --md-sys-color-outline-variant: rgb(191 200 204);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 49 52);
  --md-sys-color-inverse-on-surface: rgb(237 241 244);
  --md-sys-color-inverse-primary: rgb(135 209 235);
  --md-sys-color-primary-fixed: rgb(181 235 255);
  --md-sys-color-on-primary-fixed: rgb(0 31 40);
  --md-sys-color-primary-fixed-dim: rgb(135 209 235);
  --md-sys-color-on-primary-fixed-variant: rgb(0 78 96);
  --md-sys-color-secondary-fixed: rgb(207 230 240);
  --md-sys-color-on-secondary-fixed: rgb(7 30 38);
  --md-sys-color-secondary-fixed-dim: rgb(179 202 212);
  --md-sys-color-on-secondary-fixed-variant: rgb(52 74 82);
  --md-sys-color-tertiary-fixed: rgb(224 224 255);
  --md-sys-color-on-tertiary-fixed: rgb(22 25 55);
  --md-sys-color-tertiary-fixed-dim: rgb(194 195 235);
  --md-sys-color-on-tertiary-fixed-variant: rgb(66 68 101);
  --md-sys-color-surface-dim: rgb(214 219 222);
  --md-sys-color-surface-bright: rgb(245 250 253);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 244 247);
  --md-sys-color-surface-container: rgb(234 239 241);
  --md-sys-color-surface-container-high: rgb(228 233 236);
  --md-sys-color-surface-container-highest: rgb(222 227 230);

  /* 列表选中背景 - 使用硬编码浅蓝色 */
  --list-item-bg-selected: rgba(4, 103, 126, 0.2);
}